.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}

.main {
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input_holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
input,
button {
  padding: 10px 20px;
  background-color: #f7ecec;
  color: #282727;
  outline: none;
  border: none;
}

input {
  width: 200px;
}

input::placeholder {
  color: #141313;
}

button:hover {
  cursor: pointer;
  background-color: #ede6e6;
}
.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.container {
  float: center;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  margin-top: 50px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #cadefc;
}

.toDo {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon:hover {
  cursor: pointer;
  color: #cfcfcf;
}
.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000006c;
  display: grid;
  place-items: center;
}

.popup {
  position: relative;
  background-color: #cadefc;
  width: 400px;
  padding: 10px;
}

.cross {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

.cross:hover {
  color: #c4c4c4;
}

.popup h1 {
  text-align: center;
  font-weight: 500;
}
.popup__input_holder {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.popup__input_holder input,
.popup__input_holder button {
  background-color: #fff;
  color: #000;
}

.popup__input_holder input::placeholder {
  color: #383838;
}

.popup__input_holder button:hover {
  background-color: #c4c4c4;
}
